{% extends "layout.html" %}

{% block body %}
  <h2>Oops! Something went wrong (500)</h2>
  <p>
    It seems that something bad has happened. Sorry about this.
  </p>
  <p>
    <a href='/'>Go back to the home page</a>, or alternatively <a href='/cropper'>carry on cropping</a>
  </p>
  <p>
    (If either of those links brings you back here again - sorry, something has <em>really</em> gone wrong. Try logging out and back in again. And please send me an email to tell me about this!)
  </p>
{% endblock %}
