{% extends "layout.html" %}
{% block body %}
<h2> About butterfly cropping</h2>

<p>
  Butterflies are an interesting species. Knowing about how populations of butterflies change can help scientists answer questions about climate change, evolution and biodiversity.
</p>
<p>
  At UCL we are working on automatic tools which can be useful for ecologists, and for these tools we need data. Cropped images of butterflies are one important source of data for the tools we are building.
</p>
<!--
<h3>Why are humans needed?</h3>
<p>
  Ultimately, this cropping process will be automatic.
  The data collected through this app will be vital to train and verify our automatic system.
</p> -->

<h3>How do you stop cheaters?</h3>
<p>
  We realise that someone who wanted to be top of the leaderboard could cheat, for example by drawing a random rectangle instead of taking time to draw a good crop.
</p>
<p>
  We take two steps to prevent this:
</p>
<ul>
  <li class="txtli">Each image is given to multiple users. These multiple labels can be used to eliminate outliers</li>
  <li class="txtli">Every so often, we will serve an image to a user for which we have carefully labelled a crop box. Users who consistently give wildly different crops to our 'gold standard' are not to be trusted.</li>
</ul>

<h3>What if I make a mistake?</h3>
<p>Don't worry if you realise you've made a mistake on an image! We serve each image to multiple users so mistakes will get eliminated in the long run.</p>
<p>In future, we may introduce an 'undo' button to allow users to correct submitted mistakes</p>

<h3>Technical bits</h3>
<ul>
  <li class="txtli">The back-end is written in Python, using <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://jinja.pocoo.org/">Jinja</a></li>
  <li class="txtli">The <a href="/leaderboard">leaderboard</a> uses <a href="http://chartkick.com/">Chartkick</a></li>
  <li class="txtli">We use the standard <a href="http://getbootstrap.com/">Boostrap</a> theme</li>
  <li class="txtli">The cropping interface uses <a href="http://fengyuanchen.github.io/cropperjs/">cropper.js</a></li>
</ul>


<h3>Contact us</h3>
<p>
  If you have questions or you want to report a bug, please send us an email at:
</p>
<p style="font-family: courier;">
  m (dot) firman (at) cs (dot) ucl (dot) ac (dot) uk
</p>

{% endblock %}
