{% extends "layout.html" %}
{% block body %}
<h2> About butterfly cropping</h2>

<p>
  At UCL we are working on automatic tools which can be useful for ecologists.
</p>
<p>
  Butterflies are an interesting species. Knowing things about butterflies, for example which species are currently living where, can help scientists in many different ways.
  For example, butterflies can tell us about climate change, evolution and biodiversity.
</p>
<p>
  It can be difficult and time-consuming for experts to assess butterfly populations.
  We are working on tools to help non-experts to help biodiversity studies, and to enable automatic systems to help provide data to scientists.
</p>

<h3>
  Why do we need cropped butterflies?
</h3>
<p>
  To be determined...
</p>

<h3>Why are humans needed?</h3>
<p>
  Ultimately, we aim to make this cropping process automatic.
</p>
<p>
  The cropped butterflies collected through this app will be vital to train and verify such an automatic system.
</p>

<h3>Technical bits</h3>
<ul>
  <li>The back-end is written in Python, using <a href="http://flask.pocoo.org/">Flask</a></li>
  <li>The <a href="/leaderboard">leaderboard</a> is created using <a href="http://chartkick.com/">Chartkick</a></li>
  <li>The css uses the standard <a href="http://getbootstrap.com/">Boostrap</a> theme</li>
  <li>We use <a href="http://jinja.pocoo.org/">Jinja</a> for templating the pages</li>
  <li>The cropping interface uses <a href="http://fengyuanchen.github.io/cropperjs/">cropper.js</a></li>
</ul>


<h3>Contact us</h3>
<p>
  If you have questions or you want to report a bug, please send us an email at:
</p>
<p style="font-family: courier;">
  m.firman (at) cs.ucl.ac.uk
</p>

{% endblock %}
