{% extends "layout.html" %}
{% block head %}
<title>Butterfly cropping v0.1</title>
<link  href="{{ url_for('static', filename='cropper.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='cropper.min.js') }}" type="text/javascript"></script>
<script src="../static/crop_page.js" type="text/javascript" language="javascript"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({container: 'body'});
    $('[data-toggle="popover"]').popover('show');
    $('#submit-popover').popover('hide')
    if (parseInt($('#my-data').data().trainstep) == 2) {
      $('#topbottompopover').popover('show')
    }
    else {
      $('#topbottompopover').popover('hide')
    }
    console.log('Turning off')
});

</script>
{% endblock %}

{% block body %}
<!--
Sighting ID: 359018

Image ID: 5f56eb88830119d3f49ea58e81df915d.jpg -->
<!-- http://stackoverflow.com/questions/21626048/unable-to-pass-jinja2-variables-into-javascript-snippet -->
<!-- Sighting ID: 46614

Image ID: 117a17fb02e33cbefa99af27b4be6064_0.jpg -->

<!-- Dummy variable to store the training phase -->
<meta id="my-data" data-trainstep="{{ training_step }}">

<div id="container">
  <div id="content">
    <form id="main_form" method="post" action="{{ url_for('form_submission') }}">

      {% if training_step <= 5 %}
      <div class="alert alert-info" role="alert">
        <p><strong>Training step {{ training_step }} of 5</strong></p>
        <p>For the first few images we will guide you to becoming a butterfly expert.</p>
        <p>Start by answering the first question. Note we don't count caterpillars as butterflies. Click 'help' on the right for more info.</p>
      </div>
      {% endif %}
      {% if training_step == 6 %}
      <div class="alert alert-info" role="alert">
        <p><strong>Great!</strong> Now you're ready to crop by yourself. Good luck and have fun!</p>
      </div>
      {% endif %}


      <div class="formgroup">
        <p class="textboxlabel">How many butterflies are in the image below?<span style="margin-left: 10px; float: right;">


            <button type="button" class="btn btn-default btn-success btn-xs" data-toggle="modal" data-target="#howmanymodal">Help</button>

        </span>

      </p>

        <span class="btn-group" id="howmany" data-toggle="buttons">
          <label class="btn btn-default">
              <input type="radio" name="number_butterflies" id="zero_butterflies"
                value="Zero" onchange="checkform()" >Zero
          </label>
          <label class="btn btn-default active">
            <input type="radio" name="number_butterflies" checked=""
                value="One" id="one_butterfly" onchange="checkform()" >One
          </label>
          <label class="btn btn-default" onchange="checkform()" >
            <input type="radio" name="number_butterflies" id="many_butterflies" value="Many">Many
          </label>
        </span>
        <!-- <a href="#" data-toggle="popover" title="" data-content="How many butterflies  can you see in the image below? Note that caterpilars and larvae don't count as butterflies. ">.</a> -->
        <span style="margin-left: 30px;">
          <button type="submit" id="submitter" class="btn btn-primary" disabled="">Submit</button>
          <a href="#" data-toggle="popover" title="" data-content="Great! Click submit to continue." id="submit-popover">&#x200b;</a>
        </span>
      </div>

      <div class="onlyone formgroup">
        <p  class="textboxlabel">Can you mostly see the top of the wings, the bottom or both?
          <span style="margin-left: 10px; float: right;">
            <button type="button" class="btn btn-success btn-default btn-success btn-xs" data-toggle="modal" data-target="#topbottom">Help</button>
          </span>
        </p>
          <span class="btn-group"  data-toggle="buttons" id="topbottom-btngroup">
            <label class="btn btn-default wing-side">
              <input type="radio" name="topbottom" value="Top" id="topside" onchange="checkform()">Top
            </label>
            <label class="btn btn-default wing-side">
              <input type="radio" name="topbottom" id="bottomside" onchange="checkform()" value="Bottom">Bottom
            </label>
            <label class="btn btn-default wing-side">
              <input type="radio" name="topbottom" id="bothside" onchange="checkform()" value="Both">Both
            </label>
          </span>
            <span>
              <a id="topbottompopover">&#x200b;</a>
            </span>
      </div>


      <div class="formgroup">
        <p class="onlyone textboxlabel">Please draw a box tightly cropping the butterfly's wings:
          <span style="margin-left: 10px; float: right;">
          <button type="button" class="btn btn-default btn-success btn-xs" data-toggle="modal" data-target="#croppingbox">Help</button>
          </span>
          <span class="grey small"><br>Ignore the antennae, body and legs. We only care about the wings.</span>
        </p>
        <div class="alert alert-info" role="alert" id="cropping-helper" style="display: none; margin-bottom: 5px;">
          <p class="small" id="cropping-helper-text">We've drawn a dotted line to guide you on this one. Click and drag to draw your box. You can adjust the box by dragging the sides.</p>
        </div>
        <div class="img-container" id="imageholder" style="color:#0000FF">
          {% if training_step == 1 %}
            <img width="100%" src="../static/training_1.jpg">
          {% elif training_step == 2 %}
            <img width="100%" src="../static/training_2.jpg">
          {% elif training_step == 3 %}
            <img width="100%" src="../static/training_3.jpg">
          {% elif training_step == 4 %}
            <img width="100%" src="../static/training_4.jpg">
          {% elif training_step == 5 %}
            <img width="100%" src="../static/training_5.jpg">
          {% else %}
            <img width="100%" src="{{ url_for('download_image', sighting_id=sighting_id, img_id=img_id) }}">
          {% endif %}
        </div>
      </div>

      <script>
      $('.img-container > img').cropper({
        autoCrop: false,
        viewMode: 1,
        background: false,
        modal: true,
        guides: false,
        crop: function(e) {
          // Output the result data for cropping image.
          document.getElementById("x").value = e.x;
          document.getElementById("y").value = e.y;
          document.getElementById("width").value = e.width;
          document.getElementById("height").value = e.height;
          document.getElementById("submitter").disabledq = false;
          checkform()
        },
        zoomable: false
      });
      </script>

      <div class="formgroup" id="textboxinput">
        <input type="text" name="x" id="x" hidden />
        <input type="text" name="y" id="y" hidden />
        <input type="text" name="width" id="width" hidden  />
        <input type="text" name="height" id="height" hidden  />
        <input type="text" name="sighting_id" id="sighting_id" value={{ sighting_id }} hidden />
        <input type="text" name="img_id" id="img_id" value={{ img_id }} hidden />

        <button data-toggle="collapse" data-target="#demo" type="button" class="btn btn-default onlyone">Enter notes</button>
        <div id="demo" class="collapse" style='margin-top: 10px'>
          <p class="onlyone textboxlabel">
            <span class="grey small">e.g. 'blurry', 'very small' or 'broken wings'.</br>Only bother with this in exceptional circumstances, perhaps one image in every 50.</span>
          </p>
          <input type="text" name="notes" size="100" id="notes" class="form-control onlyone" />
        </div>
      </div>

      <hr/>

      <p class='grey small'>Sighting ID: {{ sighting_id }}</p>
      <p  class='grey small'>Image ID: {{ img_id }}</p>

    </form>
  </div>

  <!-- Modal -->
  <div id="howmanymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How many butterflies?</h4>
        </div>
        <div class="modal-body">
          <p>Click on the number of butterflies you can see, after a second or two looking, in the image. Note that caterpillars, eggs or larvae count as 'Zero'. Here are some examples: </p>
          <div>
            <div style="float: left; width: 33%; padding: 10px;">
              <img src="../static/zero.jpg" width="100%" />
              <p style="text-align: center;">Zero</p>
            </div>
            <div style="float: left; width: 33%; left: 0%;  padding: 10px;">
              <img src="../static/one.jpg" width="100%" />
              <p style="text-align: center;">One</p>
            </div>
            <div style="float: left; width: 33%;  padding: 10px;">
              <img src="../static/many.jpg" width="100%" />
              <p style="text-align: center;">Many</p>
            </div>
          </div>
          <p>'Zero' or 'Many' butterflies means your work is done! Click submit to move on.</p>
          <p>Power users can use the 'z' key as a shortcut for 'Zero' + 'Submit'.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="topbottom" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top, bottom, or both?</h4>
        </div>
        <div class="modal-body">
          <p>We'd like to know if you can see the top of the butterfly wings, the bottom, or both. See the examples below:</p>
          <div>
            <div style="float: left; width: 33%; padding: 10px;">
              <img src="../static/top.jpg" width="100%" />
              <p style="text-align: center;">Top</p>
            </div>
            <div style="float: left; width: 33%; left: 0%;  padding: 10px;">
              <img src="../static/bottom.jpg" width="100%" />
              <p style="text-align: center;">Bottom</p>
            </div>
            <div style="float: left; width: 33%;  padding: 10px;">
              <img src="../static/both.jpg" width="100%" />
              <p style="text-align: center;">Both</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="croppingbox" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Drawing a cropping box</h4>
        </div>
        <div class="modal-body">
          <p>Please click and drag with the mouse to draw a box tightly cropping the butterfly's wings. Pretend the legs, body and antennae don't exist. Here are some good and bad examples:</p>
          <div>
            <div style="float: left; width: 33%; padding: 10px;">
              <img src="../static/good1.png" width="100%" />
              <p style="text-align: center;">Good cropping</p>
            </div>
            <div style="float: left; width: 33%; left: 0%;  padding: 10px;">
              <img src="../static/good2.png" width="100%" />
              <p style="text-align: center;">Good cropping</p>
            </div>
            <div style="float: left; width: 33%;  padding: 10px;">
              <img src="../static/bad1.png" width="100%" />
              <p style="text-align: center;">Bad cropping</p>
              <p style="text-align: center;">(includes antennae)</p>
            </div>
          </div>
          <p>You can adjust the crop box by dragging its edges, but don't bother making it too perfect. Around 5 seconds is a good length of time to spend drawing the box.</p>
          <p>Once you are happy, click 'Submit' to move on.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}
