<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <link  href="{{ url_for('static', filename='cropper.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='cropper.min.js') }}"></script>
    </head>
    <body>


    <div id="container">
        <div class="title">
            <h1>POST request with Flask</h1>
        </div>
        
        <div id="content">

            <form method="post" action="{{ url_for('hello') }}">

              How many butterflies are in the image below?
              <div class="form-group">
                  <label class="radio-inline"><input type="radio"
                      name="number_butterflies" value="Zero">Zero</label>
                  <label class="radio-inline"><input type="radio"
                      name="number_butterflies" checked="checked"  value="One">One</label>
                  <label class="radio-inline"><input type="radio"
                      name="number_butterflies"  value="Many">Many</label>
              </div>
              <br/>

              Can you see the top of the wings, the bottom or both?
              <div class="form-group">
                  <label class="radio-inline"><input type="radio"
                      name="topbottom" checked="checked"  value="Top">Top</label>
                  <label class="radio-inline"><input type="radio"
                      name="topbottom" value="Bottom">Bottom</label>
                  <label class="radio-inline"><input type="radio"
                      name="topbottom"  value="Both">Both</label>
              </div>
              <br/>

              Draw a box around the butterfly:

              <div class="container">
                <img width="50%" src="{{ url_for('static', filename='trucks.jpg') }}">
              </div>

              <script>
              $('.container > img').cropper({
                //aspectRatio: 16 / 9,
                crop: function(e) {
                  // Output the result data for cropping image.
                  document.getElementById("x").value = e.x;
                  document.getElementById("y").value = e.y;
                  document.getElementById("width").value = e.width;
                  document.getElementById("height").value = e.height;
                },
                zoomable: false
              });
              </script>

              <input type="text" name="x" id="x" disabled />
              <input type="text" name="y" id="y" disabled />
              <input type="text" name="width" id="width" disabled />
              <input type="text" name="height" id="height" disabled />

              <br/>
              <input type="submit" />
            </form>

        </div>
    </body>
</html>
