<html>
    <head>
        <title>Butterfly cropping v0.1</title>
        <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='bootstrap.js') }}" type="text/javascript"></script>
        <link rel="stylesheet" href="instruc.css">
    </head>
    <body>


    <div id="container">
        <div class="title">
            <h1>Cropping Butterflies Instructions</h1>
        </div>

        <div id="content">

            Hello!

            Thanks for helping out with the butterfly cropping project. Your contributions are extremely valuable.

            The aim is


        </div>
    </div>
    </body>
</html>
