<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Butterfly cropping</title>
<link rel="shortcut icon" href="../static/favicon.ico" />
<meta charset="utf-8">
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
{% block head %}{% endblock %}
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" src="../static/bfly_logo.svg">
        <a class="navbar-brand" href="/">Butterflies home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if g.user.is_authenticated%}
            <li {% if request.path == '/cropper' %}class="active"{% endif %}>
              <a href="/cropper">Crop</a>
            </li>
            <li {% if request.path == '/training' %}class="active"{% endif %}>
              <a href="/training">Training</a>
            </li>
          {% endif %}
          <li {% if request.path == '/leaderboard' %}class="active"{% endif %}>
            <a href="/leaderboard">Leaderboard</a>
          </li>
          <li {% if request.path == '/about' %}class="active"{% endif %}>
            <a href="/about">About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user.is_authenticated%}
            <li><a href="{{ url_for('logout') }}">Logout {{ g.user.username }}</a></li>
          {% endif %}
          {% if not g.user.is_authenticated%}
            <li {% if request.path == '/register' %}class="active"{% endif %}>
              <a href="{{ url_for('register') }}">Register</a>
            </li>
            <li {% if request.path == '/login' %}class="active"{% endif %}>
              <a href="{{ url_for('login') }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="main" class="container">
      {% block body %}{% endblock %}
      <hr>
      <footer id="footer">
          <p class="small grey">Butterflies cropping app built by <a href="http://www.michaelfirman.co.uk">Michael Firman</a></p>
      </footer>
  </div>
</body>
