{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign in to butterflies cropping </h2>
    {% if error %}
      <p class=error style="color:red"><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="control-group">
        <p class="textboxlabel">Username:</p>
        <div class="controls">
          <input type="text" id="username" name="username" class="form-control"
            placeholder="Enter Username" style="width: 200px;"  required>
        </div>
    </div>

    <div class="control-group">
        <p class="textboxlabel">Password:</p>
        <div class="controls">
          <input type="password" id="password" name="password" class="form-control"
            placeholder="Enter Password" style="width: 200px;" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
  <br/>
  <p> Not registered yet? <a href="/register">Register here</a> </p>
{% endblock %}
